# Iterable

In [1]:
list1 = [3,4,5,6,7,29,20]

In [2]:
for i in list1:
    print(i)

3
4
5
6
7
29
20

In [3]:
for i in list1:
    print(i)

3
4
5
6
7
29
20

# Iterator

In [20]:
iter1 = iter(list1)

In [21]:
type(iter1)

list_iterator

In [22]:
for i in iter1:
    print(i)

3
4
5
6
7
29
20

In [23]:
list(iter1)

[]

In [8]:
for i in iter1:
    print(i)

In [10]:
iter2 = iter(list1)

In [11]:
next(iter2)

3

In [12]:
next(iter2)

4

## Zip Function

In [15]:
print(list1)

[3, 4, 5, 6, 7, 29, 20]

In [13]:
list2 = [5,6,3,5,10,20,2]

In [14]:
for x,y in zip(list1,list2):
    print(x,y)

3 5
4 6
5 3
6 5
7 10
29 20
20 2

In [16]:
for x,y in zip(list1,list2):
    print(x,y)

3 5
4 6
5 3
6 5
7 10
29 20
20 2

In [18]:
list(zip(list1,list2))[2]

(5, 3)

In [24]:
zip(list1,list2)

zip

# Range Function

In [28]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [29]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [30]:
for i in range(3,10,3):
    print(i)

3
6
9

In [34]:
list1

[3, 4, 5, 6, 7, 29, 20]

In [41]:
list1[2:7]

[5, 6, 7, 29, 20]

In [42]:
list1[2:7:2]

[5, 7, 20]

# Randrange

In [43]:
import random

In [58]:
list(range(0,20,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [60]:
random.randrange(0,20,1)

13

In [61]:
list(range(0,20,20))

[0]

In [62]:
random.randrange(0,20,20)

0

# Enumerate

In [64]:
list1

[3, 4, 5, 6, 7, 29, 20]

In [68]:
for i,x in enumerate(list1):
    print(i,x)
    print(i,list2[i])
    print(" ")

0 3
0 5

1 4
1 6

2 5
2 3

3 6
3 5

4 7
4 10

5 29
5 20

6 20
6 2