In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2020-06-23 22:47:47,71.92,114.08,81.21,31,30,12.44
1,1,Poyarkovo,RU,2020-06-23 22:47:47,49.60,128.68,53.17,95,100,18.10
2,2,Vanavara,RU,2020-06-23 22:47:47,60.34,102.28,65.39,68,53,3.56
3,3,Bathsheba,BB,2020-06-23 22:47:47,13.22,-59.52,82.40,78,20,17.22
4,4,Aquiraz,BR,2020-06-23 22:47:47,-3.90,-38.39,80.60,74,91,9.17

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Get the maximum temperature
# Google heatmaps do not plot negative numbers. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of TEMPERATURE #########################################################
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of temperature 
# Use list comprehension

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable using list comprehension
# add a center and zoom level
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature 
# Use list comprehension

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable using list comprehension
# add a center and zoom level
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a Percent HUMIDITY Heatmap ###############################################
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Create a Percent CLOUDINESS Heatmap ###############################################
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create a Percent WIND SPEED Heatmap ###############################################
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2020-06-23 22:47:47,71.92,114.08,81.21,31,30,12.44
3,3,Bathsheba,BB,2020-06-23 22:47:47,13.22,-59.52,82.40,78,20,17.22
4,4,Aquiraz,BR,2020-06-23 22:47:47,-3.90,-38.39,80.60,74,91,9.17
5,5,Makakilo City,US,2020-06-23 22:47:47,21.35,-158.09,84.20,61,75,12.75
8,8,Nijar,ES,2020-06-23 22:47:47,36.97,-2.21,77.00,53,0,12.75
12,12,Butaritari,KI,2020-06-23 22:45:07,3.07,172.79,83.57,71,32,16.26
13,13,Saint Anthony,US,2020-06-23 22:45:01,45.02,-93.22,77.00,36,20,13.87
19,19,San Patricio,MX,2020-06-23 22:47:48,19.22,-104.70,89.60,70,40,11.41
20,20,Thompson,CA,2020-06-23 22:47:36,55.74,-97.86,80.60,32,40,6.93
26,26,Wanning,CN,2020-06-23 22:47:48,18.80,110.40,82.78,86,100,11.92

In [21]:
preferred_cities_df.count()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0       Saskylakh      RU     81.21  71.92  114.08
3       Bathsheba      BB     82.40  13.22  -59.52
4         Aquiraz      BR     80.60  -3.90  -38.39
5   Makakilo City      US     84.20  21.35 -158.09
8           Nijar      ES     77.00  36.97   -2.21
12     Butaritari      KI     83.57   3.07  172.79
13  Saint Anthony      US     77.00  45.02  -93.22
19   San Patricio      MX     89.60  19.22 -104.70
20       Thompson      CA     80.60  55.74  -97.86
26        Wanning      CN     82.78  18.80  110.40