In [1]:
%matplotlib inline

# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os 
import statistics
import scipy.stats as sts
# Import mpl to change the plot configurations using rcParams.
import matplotlib as mpl

import random 
import timeit
import requests
import time
import gmaps

#Notice the difference in import syntax for these modules. This eliminates the need to double type the name
#For example: datetime.datetime.xyz
from citipy import citipy
from datetime import datetime
from scipy.stats import linregress

# Import API keys.
from config import weather_api_key

from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2020-06-26 00:21:30,77.48,-69.36,38.14,78,6,3.18
1,1,Busselton,AU,2020-06-26 00:21:31,-33.65,115.33,53.01,81,50,14.16
2,2,Victoria,HK,2020-06-26 00:18:00,22.29,114.16,87.01,70,100,13.00
3,3,Castro,BR,2020-06-26 00:21:35,-24.79,-50.01,61.00,95,89,9.82
4,4,Yellowknife,CA,2020-06-26 00:21:36,62.46,-114.35,62.60,59,75,11.41

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Get the maximum temperature
# Google heatmaps do not plot negative numbers. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of TEMPERATURE #########################################################
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature 
# Use list comprehension

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable using list comprehension
# add a center and zoom level
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature 
# Use list comprehension

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable using list comprehension
# add a center and zoom level
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create a Percent HUMIDITY Heatmap ###############################################
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Create a Percent CLOUDINESS Heatmap ###############################################
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Create a Percent WIND SPEED Heatmap ###############################################
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Victoria,HK,2020-06-26 00:18:00,22.29,114.16,87.01,70,100,13.00
7,7,Atuona,PF,2020-06-26 00:21:34,-9.80,-139.03,80.02,74,10,12.80
11,11,Hilo,US,2020-06-26 00:19:09,19.73,-155.09,84.20,58,1,10.29
12,12,Ust-Maya,RU,2020-06-26 00:22:08,60.42,134.53,75.70,44,9,1.16
14,14,Aswan,EG,2020-06-26 00:22:15,24.09,32.91,80.89,28,0,12.37
17,17,Sulangan,PH,2020-06-26 00:22:15,11.14,123.72,82.36,74,100,7.63
18,18,Faanui,PF,2020-06-26 00:21:43,-16.48,-151.75,78.84,79,82,12.15
19,19,Lorengau,PG,2020-06-26 00:21:56,-2.02,147.27,85.64,70,72,13.29
20,20,Kapaa,US,2020-06-26 00:21:45,22.08,-159.32,84.20,70,40,9.17
26,26,Marawi,PH,2020-06-26 00:22:16,8.00,124.29,80.01,85,88,1.99

In [13]:
preferred_cities_df.count()

City_ID       211
City          211
Country       211
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp    Lat     Lng Hotel Name
2   Victoria      HK     87.01  22.29  114.16
7     Atuona      PF     80.02  -9.80 -139.03
11      Hilo      US     84.20  19.73 -155.09
12  Ust-Maya      RU     75.70  60.42  134.53
14     Aswan      EG     80.89  24.09   32.91
17  Sulangan      PH     82.36  11.14  123.72
18    Faanui      PF     78.84 -16.48 -151.75
19  Lorengau      PG     85.64  -2.02  147.27
20     Kapaa      US     84.20  22.08 -159.32
26    Marawi      PH     80.01   8.00  124.29

# 6.5.4 Map Vacation Criteria

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp    Lat     Lng Hotel Name
2   Victoria      HK     87.01  22.29  114.16
7     Atuona      PF     80.02  -9.80 -139.03
11      Hilo      US     84.20  19.73 -155.09
12  Ust-Maya      RU     75.70  60.42  134.53
14     Aswan      EG     80.89  24.09   32.91
17  Sulangan      PH     82.36  11.14  123.72
18    Faanui      PF     78.84 -16.48 -151.75
19  Lorengau      PG     85.64  -2.02  147.27
20     Kapaa      US     84.20  22.08 -159.32
26    Marawi      PH     80.01   8.00  124.29

#### Retrieve Hotels from a Nearby Search. Had to enable places in the API console

In [16]:
# Set parameters to search for a hotel.

# 5000 is in meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Victoria,HK,87.01,22.29,114.16,Mini Hotel Central
7,Atuona,PF,80.02,-9.80,-139.03,Villa Enata
11,Hilo,US,84.20,19.73,-155.09,Hilo Hawaiian Hotel
12,Ust-Maya,RU,75.70,60.42,134.53,
14,Aswan,EG,80.89,24.09,32.91,Nuba Nile
...,...,...,...,...,...,...
589,Half Moon Bay,US,75.99,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
591,Coahuayana,MX,82.92,18.73,-103.68,Hotel Los Arcos
593,Jacqueville,CI,78.80,5.21,-4.41,Hotel Le Martin Pecheur
596,Mastic Beach,US,75.99,40.77,-72.85,Brushwood House by Smith Point Beach
598,Barra,BR,75.43,-11.09,-43.14,Pousada Bahia

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Add markers

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
#Edited code with map markers
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### add POP-UP markers

In [27]:
# The pop-up box uses html formatting
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#### new heatmap using the info_box_template

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))